@import "../../variables.scss";

.header {
  display: flex;
  background: $hacker-news-orange;
  padding: 3px 3px;
  align-items: center;

  a {
    color: black;
    font-weight: 600;
    padding-left: 2px;
    text-decoration-line: none;
    font-size: 13.5px;
  }

  img {
    border: 1px solid white;
  }
}