@import "variables.scss";

body {
  margin: 8px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  cursor: pointer;
  text-decoration-line: none;

  &:visited {
    color: $link-visited;
  }
}

.text-centered {
  text-align: center;
}